html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}    
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #124;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.wrapper {
    margin-top: 100px;
}
#header-img {
    height: 100px;
    object-fit: contain;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 1rem;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    text-align: center;
    align-items: center;
    background-color: #725CAD;
    padding: .4rem;
    border-radius: .3rem;
}
.nav-link:hover {
    color: #00bfff;
}
.quote {
    background-color: #FFE3A9;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
.grid {
    display: grid;
    grid-template-columns: 3fr; 
    gap: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;      /* vertical center */
    box-sizing: border-box;
}
.desc-image
.desc-list {
    max-width: 1200px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .grid {
      grid-template-columns: 2fr 2fr;
      align-items: start;
    }
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}